[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy-djangoitem = "*"
psycopg2 = "*"
django-heroku = "*"
uvicorn = "*"
gunicorn = "*"
waitress = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.12"
